.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 10;
  position: fixed;
  background: white;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
  margin-left: 30px;
}

.header-ttl:hover img{
  opacity:0.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
  list-style: none;
}

.header-nav-item {
  margin-right: 30px;
}

.header-nav-item:hover {
  opacity:0.6;
}

.firstview {
  padding-top: 70px;
  width: 100%;
  height: 490px;
  position: relative;
}

.firstview__img {
  background: url(../img/mv.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.firstview__catchcopy {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
}

.firstview__catchcopy--ja {
  font-size: 50px;
}

.firstview__catchcopy--en {
  font-size: 18px;
  margin-top: 21px;
}

.secondview {
  width: 100%;
  height: 300px;
  background: black;
}

.secondview__wrap {
  width: 85%;
  color: white;
  padding-top: 7%;
  margin: 0 auto 70px;
}

.secondview__ttl {
  font-size: 30px;
}

.secondview__content {
  margin-top: 30px;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 25px;
}

.service {
  height: 1060px;
}

.service__ttl {
  text-align: center;
  padding-top: 85px;
  font-size: 30px;
  margin-bottom: 30px;
}

.service__wrap {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
}

.service__card {
  width: 49%;
  height: auto;
}

.service__img img {
  background-size: cover;
  width: 100%;
  height: auto;
}

.service__content--ttl {
  margin-top: 10px;
  font-size: 18px;
}

.service__content--main {
  margin-top: 5px;
  line-height: 25px;
}

.service__list--link {
  display: block;
  margin: 45px auto 0;
  width: 300px;
  height:20px;
  text-align: center;
  padding: 20px 0;
  background: rgb(168, 5, 27);
  color: white;
  padding: 15px 0 10px;
  font-weight: bold;
}

.service__list--link:hover {
  opacity:0.4;
}

.news {
  background: black;
  height: 450px;
}

.news__wrap {
  width: 85%;
  margin: 0 auto 0;
}

.small_container {
  display: flex;
  justify-content: space-between;
  padding-top: 85px;
  margin-bottom: 18px;
}

.news__ttl {
  font-size: 30px;
  color: white;
}

.news__cat--link {
  background: rgb(168, 5, 27);
  width: 160px;
  height: 13px;
  text-align: center;
  padding: 13px 0;
  font-size: 14px;
}

.news__cat--link:hover {
  opacity:0.4;
}

.news__cat {
  color: white;
  font-weight: bold;
}

.news__list--link {
  background: white;
  width: 100%;
  height: 43px;
  padding-top: 20px;
  border: 5px solid black;
  display: block;
}

.news__list--link:hover {
  opacity:0.4;
}

.news__list--data {
  margin-left: 15px;
}

.news__list--detail {
  margin-left: 8px;
  font-weight: bold;
}

.blog {
  width: 100%;
  height: 550px;
}

.blog__ttl {
  padding-top: 88px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.blog__wrap {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 40px;
}

.blog-wrap__item {
  width: 32%;
}

.blog-wrap__item-eyecatch {
  width: 100%;
  height: auto;
  background-size: cover;
}

.blog-wrap__item-eyecatch:hover {
  opacity:0.4;
}

.blog-wrap__item-content {
  padding-top: 12px;
}

.blog__data {
  margin-bottom: 5px;
  font-size: 14px;
}

.blog-wrap__item-content-ttl {
  font-size: 18px;
  line-height: 30px;
}

.blog-wrap__item-content-ttl:hover{
  opacity:0.4;
}

.blog__link {
  display: block;
  margin: 30px auto 0;
  width: 300px;
  text-align: center;
  padding: 15px 0;
  background: rgb(168, 5, 27);
  color: white;
}

.blog__link:hover {
  opacity:0.4;;
}

.recruit {
  margin-top: 40px;
  height: 330px;
}

.recruit__flex {
  display: flex;
}

.recruit__item {
  position: relative;
  height: 250px;
  width: 50%;
  display: block;
}

.recruit__company--link {
  background: rgb(168, 5, 27);
}

.recruit__company {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.recruit__ttl--link {
  background: black;
}

.recruit__item:hover {
  opacity:0.4;
}

.recruit__ttl {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.contact {
  height: 330px;
  width: 100%;
  background: rgb(245, 244, 244);
}

.contact__ttl {
  padding-top: 90px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.contact__content {
  text-align: center;
  margin-bottom: 20px;
}

.contact__link {
  display: block;
  margin: 30px auto 0;
  width: 300px;
  text-align: center;
  padding: 15px 0;
  background: rgb(168, 5, 27);
  color: white;
}

.contact__link:hover {
  opacity:0.4;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: black;
  color: white;
}

.footer-ttl {
  font-size: 12px;
  width: 110px;
  margin-left: 85px;
}

.footer-nav {
  margin-right: 82px;
}

.footer-nav-list {
  display: flex;
  list-style: none;
}

.footer-nav-item {
  font-size: 12px;
  text-align: center;
  align-items: center;
  position: relative;
}

.footer-nav-item:hover {
  opacity:0.4;
}

.footer-nav-item:not(:last-child) {
  margin-right: 25px;
}

.footer-nav-item:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -35%;
}

.menu {
  display:none;
}

.nav {
  display:none;
}

@media screen and (max-width: 768px){
.header-nav {
  display:none;
}

.menu{
  display:inline-block;
  width: 36px;
  height:32px;
  cursor: pointer;
  position: relative;
  right: 30px;
  top:0px;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position:absolute;
  transition: 0.5s;
}

.menu__line--top {
  top: 0;
}

.menu__line--middle {
  top: 14px;
}

.menu__line--bottom {
  bottom: 0;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.in{
  transform: translateX(100%);
}

.nav__link {
  text-decoration: none;
  color: blue;
  font-size:18px;
}

.nav {
  display: inline-block;
  position: fixed;
  height: 100vh;
  width: 100%;
  top:0px;
  left: -100%;
  background:white;
  transition: .7s;
  text-align: center;
}

.nav ul{
  padding-top: 80px;
}

.nav ul li{
  list-style-type: none;
  margin-top: 50px;
}

.firstview {
  padding-top: 70px;
  width: 100%;
  height: 820px;
  position: relative;
}

.firstview__catchcopy {
  top:53%;
  width: 85%;
}

.firstview__catchcopy--ja {
  line-height: 78px;
}

.firstview__catchcopy--en {
  margin-top: 10px;
}

.secondview {
  height: 350px;
}

.secondview__wrap {
  padding-top: 11%;
}

.service {
  height: 2250px;
}

.service__wrap {
  display:block;
}

.service__card {
  width: 100%;
  margin-bottom: 20px;
}

.blog {
  height: 1650px;
}

.blog__wrap {
  display: block;
}

.blog-wrap__item {
  width: 90%;
}

.footer {
  height: 220px;
  padding:10px 90px;
}

.footer-nav-list {
  display: block;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 18px;
}

.footer-nav-item:not(:last-child)::after {
  content: "";
}

}